html {font-size: 15.5px;scroll-behavior: smooth;}
body {
  background: #edf1f5;
  /* background-color: #F5F5F5; */
  /* background-color: #f0f1f3; */
  background-color: #E6EBEE;
  font-family: "Karla", sans-serif;
  color:#000;
}
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: .5rem
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
    border: 2px solid #f0f0f0
}
::-webkit-scrollbar-thumb:hover {
    background: #a3a8ac;
}
.primary-font {
  font-family: "Karla", sans-serif;
}
.secondary-font, .heading-fonts, h1, h2, h3, h4, h5, h6 {
  /* font-family: "Poppins", sans-serif; */
  font-weight: 600;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
.text-link {
    color: #0369d7;
}
a.text-link:hover, a.text-link:focus {
    color: #007bff;
    text-decoration: underline;
}
.btn-outline-primary {
    color: #0072bb;
    border-color: #0072bb;
    background: #fff;
}
.btn-outline-primary:hover {
    background: #0072bb;
    border-color: #0072bb;
}
.btn-primary {
    background: #0072bb;
    border-color: #0072bb;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background: #0c4475;
    border-color: #0c4475;
}
.btn-primary:hover, .btn-primary:focus {
    background: #005abb;
    border-color: #005abb;
    }

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(9 51 88 / 20%);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(9 51 88 / 20%);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #093358;
    border-color: #093358;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: #093358;
    border-color: #093358;
}
.sweet-alert button.confirm {
    background: #28a745!important;
}

.sweet-alert button.confirm:hover {
    background: #218838 !important;
}
.sweet-alert button.cancel {
    background: #dc3545!important;
}
.sweet-alert button.cancel:hover {
    background: #c82333!important;
}
.dropdown-item:not(:hover), .dropdown-item:not(:focus) {
    color: #646464;
}
.table {
    font-size: 1rem;
}


.dropdown-item {
    padding: .35rem 1.125rem;
}


.font-weight-semibold {
    font-weight: 600;
}
.text-color-1 {
      color: #647676;
}
.select2-container .select2-selection--single {
    height: calc(1.5em + .75rem + 2px);
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: calc(1.5em + .75rem + 2px);
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translate(0px, -50%);
}

.form-control {
    padding: .25rem .5rem;
}
select.form-control {
    padding-inline: .325rem;
}
.form-group label { font-weight:600; margin-bottom:0.25rem}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}
.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 20px;
}
.header-top {padding-block:0.5rem;););}
.school-info {
    /* max-width: 500px; */
    /* flex: 0 0 500px; */
    


    & h5 {
        font-size: 19px;
        font-family: "Karla", sans-serif;
        font-weight: bold;
        color: #0063cd;
    }
    & p {
        font-size: 85%;
        font-weight: 500;
        color: #838383;
    }
}
.school-logo {max-width:120px;margin-right: 10px;}

.school-logo img {
    max-height: 80px;
    width: 100%;
}
.school-contact-info  p {
        font-size: 85%;
        font-weight: 500;
    }
aside.sidebar {
    width:250px;
    background-color: #042954;
    background-color: #0c4475;
    /* background: black; */
    color: #fff;
    padding-block: 3px;
    border-top: 1px solid #021933;
}
aside.sidebar.sidebar-collapsed {
    width:80px;}
.sidebar .nav > .nav-item > .nav-link {
    border-bottom: 1px solid #002342;
    display: flex;
    align-items: center;
    position: relative;
    padding: 12px 30px 12px 20px;
    width: 100%;
    color: #9ea8b5;
    /* color: #ced4d9; */
    font-weight: 400;
}
.sidebar .nav > .nav-item > .nav-link:hover {
    color: #fff;
}
.sidebar.sidebar-collapsed .nav > .nav-item > .nav-link {  padding-inline: 20px;}
a.nav-link[data-toggle="collapse"]:after {
    content: "\f105";
    font-family: FontAwesome;
    font-weight: bold;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%) rotate(0deg);
    -ms-transform: translateY(-50%) rotate(0deg);
    transform: translateY(-50%) rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a.nav-link[data-toggle="collapse"][aria-expanded="true"]:after {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.sidebar .sb-nav-link-icon {
    width: 24px;
    text-align: center;
    margin-right: 8px;
    color: #ffa901;
}
.sidebar-collapsed .nav-link-text { display:none;}

.sidebar-collapsed .sb-nav-link-icon {
    margin-right: auto;
    margin-left: auto;
}
.sidebar .collapse-body {
    background-color: #051f3e;
    background: #0a365e;
    padding: 10px 0;
}

.sidebar .collapse-body .nav-link {
    font-size: 0.85rem;
    color: #a3aab3;
    padding: 8px 20px 8px 52px;
}

.sidebar .collapse-body .nav-link:hover {
    /* background-color: #042954; */
    color: #ffffff;
}
.sidebar li.nav-item {
    position: relative;
}
@media(min-width:768px) {
.sidebar-collapsed li.nav-item:hover .collapse-menu {display:block;}
.sidebar-collapsed li.nav-item .collapse-menu {
    position: absolute;
    left: 80px;
    z-index: 10;
    top: 0;
    display: none;
}
.sidebar-collapsed a.nav-link[data-toggle="collapse"]:after {
    right: 10px;
}
.sidebar-collapsed  .nav-item:hover a.nav-link[data-toggle="collapse"]:after, 
.sidebar-collapsed a.nav-link[data-toggle="collapse"][aria-expanded="true"]:after {
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
}
.sidebar-collapsed .collapse-body {min-width:180px;}
.sidebar-collapsed .collapse-body .nav-link {padding: 8px 20px;}
header{    -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.header-logo {width: 250px;/* background: linear-gradient(to right, #0c4475, #0c4475); *//* background: #0a365e; */padding-block: 10px;display: flex;}
.header-logo img {
    max-height: 60px;
}
.header-logo.header-logo-collapsed {width:80px;}
.header-logo-collapsed .logo, .menu-close, .header-logo-collapsed .menu-bars {
    display: none;
}
.header-logo-collapsed .menu-close {
    display: block;
}
.toggle-btn {box-shadow:none !important;outline:none !important;padding: 0;border: 0;font-size: 1.75rem;}

.header-info li.dropdown .nav-link > svg {
    width: 20px;
    vertical-align: middle;
    fill: #828282;
}

.header-logo-collapsed .toggle-btn {margin-inline: auto !important;}
.header-logo-collapsed .toggle-btn:before {
    content: "\f00d";
}
.header-menu .navbar-nav .nav-item {
  align-items: stretch; display: flex;
}
.header-menu .navbar-nav .nav-item .nav-link { align-self: center;}
.header-info {
    & .dropdown-menu {
        padding:0;min-width: 250px;
    }
    & .item-header {
        text-align: center;
        padding: 20px 25px;
        border-radius: 4px 4px 0 0;
        position: relative;
    }
    & .item-title {
        margin-bottom: 0;
        color: #fff;
    }
    & .item-header:after {
          content: "";
          height: 0;
          width: 0;
          border-bottom: 10px solid #0c4475;
          border-left: 8px solid transparent;
          border-right: 8px solid transparent;
          position: absolute;
          top: -8px;
          right: 14px;
    }
    &  .dropdown-menu .item-content {
          padding: 15px 15px;
    }
}
.user-profile {
& .dropdown-menu { padding:0;min-width: 250px;}
& .item-header {
    background-color: #0063cd;
}
& .dropdown-menu .item-content {
        padding: 0px;
    }
& .item-content .settings-list {
    padding: 10px 0;
    list-style: none;
}
& .item-content .settings-list li a {
    color: #646464;
    font-size: 15px;
    display: block;
    padding: 8px 25px;
}
& .item-content .settings-list li a:hover {
    background-color: #f6f6f6;
    color: #0063cd;
}
 }

li.nav-item.user-profile img {
    width: 40px;
}
.ntf-dropdown {
&   .item-header {
  background-color: #d50000;
}
& .item-header:after {
  border-bottom-color: #d50000;
}

&  .dropdown-menu .item-content .media {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
&  .dropdown-menu .item-content .media:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}
&  .dropdown-menu .item-content .media .item-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: 31px;
  text-align: center;
}
&  .dropdown-menu .item-content .media .item-icon i {
  color: #ffffff;
  font-size: 12px;
}
&  .dropdown-menu .item-content .media .media-body .post-title {
  font-size: 14px;
  font-weight: 500;
}
&  .dropdown-menu .item-content .media .media-body span {
  font-size: 12px;
}  
}
.msg-dropdown {
    & .dropdown-menu {
      min-width: 320px;
      z-index: 1000000000;
    }
    & .item-header {
        background-color: #2ad7c5;
        background: #00b72a;
}
    & .dropdown-menu .item-header:after {
        border-bottom-color: #00b72a;
    }
    & .media-body.space-sm {
        margin-left: 12px;
    }
    & .media img { border-radius:100%}
    & .item-title a {display:flex;justify-content:space-between;margin-bottom: 3px;
    & .item-name {
        font-weight: 600;
        color: #444444;
    }
    & .item-time {
        color: #848484;
    }
    }
     & .media:not(:last-child) { margin-bottom:12px; padding-bottom:12px; border-bottom:1px solid #f0f1f3}
    & .media-body {
        font-size: 14px;
        & p {margin-bottom:0px}
    }
}


.modal-header .close {
    margin: 0 0 0 auto;
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' height='24px' viewBox='0 -960 960 960' width='24px' fill='%23EA3323'%3E%3Cpath d='M480-392 300-212q-18 18-44 18t-44-18q-18-18-18-44t18-44l180-180-180-180q-18-18-18-44t18-44q18-18 44-18t44 18l180 180 180-180q18-18 44-18t44 18q18 18 18 44t-18 44L568-480l180 180q18 18 18 44t-18 44q-18 18-44 18t-44-18L480-392Z'/%3E%3C/svg%3E");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    opacity: 1;
    padding: 0;
    & span {
        display: none;
    }
}
.modal-title { font-size:1.125rem;
}
.card {
  box-shadow: 0 4px 4px rgb(2 2 2 / 5%);
  background-color: #fff;
  border-radius: .35rem; border: none;
}

.card-border-bottom {
    border-bottom: 3px solid #b3b3b3;
}

.card-border-bottom:hover {
    border-color: #0c4475;
}
.card-border-top {
  border-top: 3px  solid #0c4475;
  border-top-color: #0063cd !important;
}
.card-header {
  background-color: #f1f6fa;
  border-bottom: 1px solid #e7edf2;
  color: #0063cd !important;
  font-size: 1.125rem;
}
.card-header {
    & h1, & h2, & h3, & h4, & h5, & h6
{font-size:1.125rem;color: #0c4475;color: #0063cd !important;font-size: 1.125rem;}
}
.zebra-table thead, table.table-striped thead {
  border: none !important;
  background-color: #e7edf2  !important;
}
.table th, .table td {
  padding: .5625rem .5rem;
  vertical-align: middle;
  border-top: 1px solid #ebe9e9;
}
table.table-striped tbody tr td, table.table-striped tfoot tr td, table.table-striped tfoot tr th, table.table-striped thead tr td, table.table-striped thead tr th {
  border: none !important;
  /* color: rgb(0 0 0 / 56%); */
}
table.table-striped.dataTable tbody tr.odd, table.table-striped.dataTable.stripe tbody tr.odd, table.table-striped tbody tr:nth-child(odd), table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
table.dataTable.display tbody tr.even, table.dataTable.stripe tbody tr.even, table.table-striped tbody tr:nth-child(2n) {
  background-color: #f0f0f0;
  background-color: #f5f4f4;
  /* background-color: #f2f2f2; */
}
table.dataTable.display tbody tr.even:hover, table.dataTable.display tbody tr.odd:hover, table.dataTable.stripe tbody tr.even:hover, table.dataTable.stripe tbody tr.odd:hover, table.table tbody tr:nth-child(2n):hover, table.table tbody tr:nth-child(odd):hover {
    background-color: #cedae3;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
    padding-inline: 10px;
}

table.dataTable tbody tr td, table tbody td {color: #505050;color: #878787;}

table.dataTable {
    & th, & td {
       & .custom-checkbox1 {
           padding-left: 1rem;
        & .custom-control-label::before, & .custom-control-label::after {
            left: -1rem;
       } 
    }
}
}

.badge {
    padding: 0.325rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
}
.badge.badge-pill {
    padding-right: 1rem;
    padding-left: 1rem;
}
.badge-outline-success {
    border: 1px solid #28a745;
    color: #28a745;
}
.badge-outline-danger {
    border: 1px solid #dc3545;
    color: #dc3545;
}
.badge-outline-warning {
    border: 1px solid #ffc107;
     color: #ffc107;
}
.badge-outline-secondary {
   border: 1px solid #6c757d;
   color: #6c757d;
}



.status-count a { text-decoration: none !important;
  font-size: 1.3rem;
  line-height: 1.2;
  color: #647676;
}
.status-icon svg {
  width: 1.95rem;
  height: auto;
}
.status-card .card {
  border-bottom-width: 3px;
  border-bottom-style: solid;
}
.active-students {
  border-bottom-color: #17a2b8;
}
.active-students:focus, .active-students:hover {
background: #f1f6fa;
}
.suspended-students {
  border-bottom-color: #ff5567;
}
.suspended-students:focus, .suspended-students:hover {
  background: #ffeff0;
}

.pass-out-students {
  border-bottom-color: #008f00;
}
.pass-out-students:focus, .pass-out-students:hover {
  background: #eaf7ed;
}
.total-registered-students {border-bottom-color: #123df7;}
.total-registered-students:focus, .total-registered-students:hover {
  background: #f0f1fd;
}
#layoutSidenav_content > main {
  padding-top: 1.5rem;
}

main > .container-fluid {padding-inline: 1.25rem;}
.page-title-row {
  margin-bottom: 1.25rem;
  /* background: white; */
  /* border-top: 1px solid #e9e9e9; */
  /* padding: 1rem 0.25rem; */
  /* margin-inline: -1.25rem; */
}
.page-title {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
}
.actionicon {
    border: none;
    border-radius: 0.25rem;
    width: 1.65rem;
    height: 1.65rem;
    font-size: 0.85rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}
.actionicon:not(:last-child) { margin-right:0rem}
.actionicon svg {
    width: 1.25rem;
    height:auto
}
.actionicon.deleteIcon {background-color: #f7dddd;border-color: #ffeaea;color: #fd5353;}
.actionicon.deleteIcon:hover {background: #fd5353;color:#fff;border-color: #fd5353;}
.deleteIcon svg path {
    fill: #DC143C;
}
.actionicon.deleteIcon:hover svg path {
    fill: #ffffff;
}
.actionicon.suspendIcon { border-color:#eb9b09;color:#eb9b09;}
.actionicon.suspendIcon:hover { background:#eb9b09;  color:#fff;}
.suspendIcon svg path {
    fill: #eb9b09;
}
.actionicon.suspendIcon:hover svg path {
    fill: #ffffff;
}
.actionicon.viewIcon {/* border-color:#00ad00; *//* color:#00ad00; */background-color: #ddfaea;color: #1EBA62;}
.actionicon.viewIcon:hover {color:#fff;background-color: #1EBA62;}
.viewIcon svg path {
    fill: #00ad00;
}
.actionicon.viewIcon:hover  svg path {
    fill: #ffffff;
}

.actionicon.activateIcon { border-color:#007bff;color:#007bff;}
.actionicon.activateIcon:hover { background:#007bff;  color:#fff;}
.activateIcon svg path {
    fill: #007bff;
}
.actionicon.activateIcon:hover svg path {
    fill: #ffffff;
}

.dataTables_filter label input[type="search"] {
    outline: none;
    font-size: 1rem;
    color: #000000;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    height: 2.25rem;
    padding: .15rem .5rem;
}
.student-info-title {
    margin-bottom: 2px;
    font-weight: 500;
    color: #b5b1b1;
    font-family: "Karla", sans-serif;
}
.student-info-col {font-weight: 500;}
.profile-header {
    background: rgb(12 68 117 / 10%);
}

.profile-image-col {
    max-width: 150px;
}

.profile-image-border {
    border: 3px solid rgb(12 68 117 / 32%);
    height: calc(150px - 30px);
    display: flex;
}

.profile-image-col img {
    width: 100%;
    /* height: calc(200px - 30px); */
}


span.inputDoubleClick {
    display: inline-block;
    padding: 1px 16px 1px 3px;
    border: 1px solid transparent;
    margin-left:-3px;
}

span.inputDoubleClick:hover {
    border-color: #f2e6e7;
}

.student-info .nav.nav-tabs {
    border: none;
    background: #f8f8f8;
    margin: -1.25rem -1.25rem 1.25rem;
    border-bottom: 1px solid #e6ecf1;
    /* text-transform: capitalize; */
}

.student-info-body {
    border: 1px solid #f3f3f3;
    border-radius: 0.5rem;
    padding: 1.25rem 1.25rem .5rem;
}

.student-info .nav-tabs .nav-item .nav-link {
    border: none;
    width: 100%;
    text-transform: capitalize;
    color: #000000;
    font-weight: bold;
    padding: .725rem 0.5rem;
}

.student-info .nav-tabs .nav-item .nav-link.active {
    background: #0c4475;
    color: #fff;
}
nav.navbar {
    border-top: 1px solid #f0f1f3;
    font-weight: 500;
    padding: 10px 10px;
}
nav.navbar .nav-item.dropdown .dropdown-toggle::after {
    content: "\f0d7";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    border: none;
    margin-left: .25em;
    vertical-align: 0;
    font-size: 0.85rem;
}

nav.navbar .nav-item .nav-link i {
    margin-right: 3px;

}
nav.navbar .navbar-nav {
    /* background: #E0F7FA; */
}
nav.navbar .nav-item {
    flex: auto;
}

nav.navbar .nav-item .nav-link {padding-block: 9px;padding-inline: 5px;text-align: center;color: #505050;border-radius: 6px;margin: 0px 0.25rem;}

nav.navbar .nav-item.active .nav-link, 
nav.navbar .nav-item .nav-link.active, 
nav.navbar .nav-item:hover .nav-link, 
nav.navbar .nav-item.show .nav-link {
    color: #0063cd;
    background-color: #f5f6f7;
}
nav.navbar .nav-item:hover .nav-link[aria-expanded="false"] ~ .dropdown-menu {
    display: block; margin-top:0px;
}
nav.navbar .dropdown-menu .dropdown-item:hover { background-color:#f5f6f7; color:#0063cd
}
.sub-dropdown.active > .dropdown-item,
nav.navbar .dropdown-menu .dropdown-item.active, 
nav.navbar .dropdown-menu .dropdown-item:active, 
nav.navbar .dropdown-menu .sub-dropdown:hover >.dropdown-item {
    color: #0063cd;
    background-color: #f5f6f7;
}

nav.navbar .nav-item .dropdown-menu {margin-top:0px;width: 100%;min-width: 14rem;box-shadow: 0px 6px 4px 0px rgb(152 152 152 / 45%);border: none;border-radius: 0 0 0.25rem 0.25rem;}
nav.navbar .dropdown-submenu {
    position: relative;
  }
  
nav.navbar .dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
  }
  
nav.navbar .dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
  }
 .sub-dropdown-menu {
    position: absolute;
    padding: 0;
    left: 100%;
    background: #fff;
    top: 0;
    display: block;
    box-shadow: 4px 6px 10px 0px rgb(152 152 152 / 25%);
    display: none;
    padding: .125rem 0;
    border-radius: 0 0 0.25rem 0.25rem;
}
.dropdown-menu-right .sub-dropdown-menu {left: auto; right: 100%;
    
} 
li.sub-dropdown:hover .sub-dropdown-menu { display: block; }
li.sub-dropdown.active .sub-dropdown-menu {/* display: block; */}
li.sub-dropdown, li.sub-dropdown > a {
    position: relative;
}

li.sub-dropdown > .dropdown-item:after {
    position: absolute;
    right: 10px;
    transform: translate(0, -50%);
    top: 50%;
    content: "\f105";
    content: "\f0da";
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    font-weight: var(--fa-style, 900);
}



@media(max-width:1380px) {
html {
    font-size: 15px;
}
}
@media(max-width:1199px) {
html {
    font-size: 14px;
}
.sidebar.sidebar-collapsed .sb-nav-link-icon svg {
    width: 1.25rem;
    height: auto;
}
    .header-logo {
    width: 200px;
    }
aside.sidebar:not(.sidebar-collapsed) {
    width: 200px;
}
.sidebar:not(.sidebar-collapsed) .nav > .nav-item > .nav-link {
    padding: 10px 30px 10px 12px;
}
.sidebar:not(.sidebar-collapsed) .collapse-body .nav-link {
    padding: 6px 15px 6px 40px;
}
.sidebar:not(.sidebar-collapsed) .sb-nav-link-icon {
    margin-right: 5px;
}

.sidebar .collapse-body {
    padding: 7px 0;
}
.sidebar .collapse-body .nav-link {
    font-size: 1rem;
}
}
@media(max-width: 991px) {
.navbar-brand {max-width: 120px;}
.navbar-toggler {
    padding: .225rem .275rem;
    align-self: center;
    border-color: #0c4475;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-button-mobile button {
    width:28px; height:28px
}
.menu-button-mobile button:after {
    font-family: var(--fa-style-family, "Font Awesome 6 Free");
    content: "\f0c9";
    font-weight:900;
}
.menu-button-mobile button[aria-expanded="true"]:after {
    content: "\f00d";color:#dc3545;
}
.menu-button-mobile button span { display:none}

    
button.navbar-toggler svg { width:1.5rem; height:auto}
button.navbar-toggler[aria-expanded="true"] {
    border-color:#dc3545;
}
button.navbar-toggler[aria-expanded="false"] .menu-close, button.navbar-toggler[aria-expanded="true"] .hamburger {
    display: none;
}
button.navbar-toggler[aria-expanded="true"] .menu-close path {
     fill:#dc3545;
}
.navbar-toggler span {
    /* background-color: #0c4475; */
}
.navbar-collapse {
    /* position: absolute; */
    /* top: 100%; */
    /* background: #fff; */
    /* width: 100vw; */
    /* left: 0px; */
    /* z-index: 10; */
    /* padding: 0 1rem; */
}
nav.navbar .nav-item .nav-link i {
    display:none
}
.school-logo img {
    max-height: 60px;
}
.school-info h5 {
    font-size: 18px;
}
.school-info p {
        font-size: 80%;
}
}
@media(min-width:768px) and (max-width: 991px) {
 .modal-dialog.modal-lg {
        max-width: 700px;
        margin: 1.75rem auto;
    } 
}
@media(max-width:767px) {
html {font-size: 12px;}
main > .container-fluid {
    padding-inline: 1rem;
}
body {padding-top: 55px;}
header {position:fixed;top:0px;left:0;right:0;z-index: 11;}

header > .row {
    min-height: 55px;
}
.header-logo .logo {
    display: none;
}
.header-logo, .header-logo.header-logo-collapsed {
    width: 60px;
    padding-inline: 0px;
    padding-block: 5px;
}
.header-logo {}
    .toggle-btn svg {width:32px;width:32px;height: auto;}
aside.sidebar {
    width: 200px !important;
    position: fixed;
    left:-100%;
    z-index:100;
    /* height:100%; */
    top: 55px;
    bottom: 0;
    padding-bottom: 30px;
}
aside.sidebar.sidebar-collapsed {
    left:0px;
    overflow: auto;
}
.sidebar-collapsed .nav-link-text {
    display: block;
}
.sidebar-collapsed .sb-nav-link-icon {
    margin-right: 5px;
    margin-left: 0;
}
.sidebar-collapsed li.nav-item .collapse-menu {
    position: static;
}
.sidebar .nav > .nav-item > .nav-link {
    padding: 10px 20px 10px 10px !important;
    color: #c1cad7;
}
.sidebar .collapse-body .nav-link {
    padding: 8px 12px;
}
.right-content {
    padding: 12px 12px;
}
.page-title-row {
    margin-bottom: 1rem;
} 
.card-body {
    padding: 1rem;
}
.mobile-card { font-size:12.5px;
   & .card-header {
        padding: 0.5rem;
        background-color: #cad8e7;
    }
    & .card-title {
        margin-bottom: 0;
        color: #000;
        font-family: inherit;
    }
    & .card-body {
        padding: 0.5rem;
    }
    & .card-body p {
        margin-bottom: 2px;
    }
    & .collapse-content {
        display: none;
    }
    & .collapse-content {
        display: none;
    }
    & .collapse-toggle {
        cursor: pointer;
        color: #007bff;
    }
}
.action-dropdown-btn {
    border: none;
    background: #ffffff;
    color: #000000;
    border-radius: 100%;
    width: 1.275rem;
    height: 1.275rem;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
& .card.show-more .collapse-content {
    display: block;
}
& .card.show-more .toggle-btn {
    display: none;
}
.card-header {
    padding: .75rem 1rem;
}
.student-info-body {
    padding: 1rem 1rem .5rem;
}
.student-info .nav.nav-tabs {
    margin: -1rem -1rem 1rem;
}
.student-info .nav-tabs .nav-item .nav-link {
    padding: .5rem 0.75rem;
}
.collapsibleNav {
    position: absolute;
    /* position: fixed; */
    top: 100%;
    height: calc(100vh - 60px);
    width: 100%;
    background: #fff;
    left: 0px;
    overflow-y: auto;
}
nav.navbar .nav-item .nav-link {
    text-align: left;
    margin-inline: 0;
    padding: 7px 15px;
    border-radius: 0;
}
nav.navbar .nav-item .dropdown-menu {
    margin-top: 0px;
    width: auto;
    min-width: auto;
    box-shadow:none;
    border-left: 4px solid #d9d9d9;
    border-radius: 0;
    margin-inline: 15px;
    max-width: 100%;
    padding-left: 5px;
}
.sub-dropdown-menu {
    position: static;
    box-shadow: none;
    padding: .5rem 0;
    border-radius: 0rem;
    margin-left: 15px;
}
nav.navbar .nav-item .dropdown-item { padding-inline:1rem}
}
@media(max-width:580px) {
    .school-name { display:none;}
.school-info {max-width: 200px;}
        .school-info h5 {
        font-size: 14px;
    }
.school-logo img {
    max-height: 46px;
}
.school-info p {
     display:none;
}

.header-info li.dropdown .nav-link > svg {
    width: 14px;
}
  .header-info   li.user-profile img {
    width: 30px;
}
.header nav.navbar { padding-block:0}
.student-info-body { border:none;
    padding: 0;
}
.student-info .nav.nav-tabs {
    margin: 0rem 0rem 1rem;
}
.card-header {
    & h1, & h2, & h3, & h4, & h5, & h6
{ font-size:1rem;
}
}  
    table.dataTable thead th, table.dataTable thead td, table.dataTable tbody td {
    padding-inline: 5px;
    padding-block: 6px;
}
    .page-title {
    font-size: 1.25rem;
}
}