html {font-size: 16px;scroll-behavior: smooth;}
/* font-family: "Montserrat", sans-serif; */

body {
  font-family: "Roboto", sans-serif;
  color:#000;
  line-height: 1.685;
}
::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: .5rem
}
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 10px;
    border: 2px solid #f0f0f0
}
::-webkit-scrollbar-thumb:hover {
    background: #a3a8ac;
}
.primary-font {
  font-family: "Karla", sans-serif;
}
.secondary-font, .heading-fonts, h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
a, a:hover {
    color: inherit;
    text-decoration: none;
}
.text-link {
    color: #0369d7;
}
a.text-link:hover, a.text-link:focus {
    color: #007bff;
    text-decoration: underline;
}
.btn-outline-primary {
    color: #0c4475;
    border-color: #0c4475;
    background: #fff;
}
.btn-outline-primary:hover {
    background: #093358;
    border-color: #093358;
}
.btn-primary {
    background: #0c4475;
    border-color: #0c4475;
}
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background: #0c4475;
    border-color: #0c4475;
}
.btn-primary:hover, .btn-primary:focus {
    background: #093358;
    border-color: #093358;}

.btn-primary:focus {
    box-shadow: 0 0 0 .2rem rgb(9 51 88 / 20%);
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgb(9 51 88 / 20%);
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #093358;
    border-color: #093358;
}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
    background-color: #093358;
    border-color: #093358;
}
header.header {
    inset: 0 0 auto 0;
    z-index: 10;
}
.navbar  .navbar-nav .nav-link {
    padding-inline: 0.9rem;
    color:#fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}
.banner {
    height: 40vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; padding: 120px 0px 50px;
}
.banner h1 {font-size: 3.5rem;}

.section-heading {
    font-size: 2.5rem;
    position:relative;
    padding-bottom: 0.65rem;
    display: inline-flex;
    justify-content: center;
    
    
    
    
    
    
    
    
    
    
    
    
    
    &:after {position:absolute;content:'';background: #0c70c7;height: 4px;inset: auto auto 0 0;width: 50%;border-bottom-right-radius: 10px;border-bottom-left-radius: 10px;}                 
}
.section-heading.underline-center:after {left: auto;right: auto;}